*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--primaryCyan: #3ac5c9;
	--black-1: #646681;
	--black-2: #585858;
	--bg-1: #f8f8ff;
	--bg-2: #ecedf6;
	--bg-3: #21272f;
	--gray-1: #eee;
	--gray-2: #dedfe1;
	--black: black;
	--white: white;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url(./fonts/baemin/BMDANIEL-Bold.ttf) */
/* @font-face{
	font-family: BAEMIN, sans-serif;
	src: url('./fonts/baemin/BAEMIN.ttf');
} */
html {
	font-size: 10px;
}
body {
	font-family: Poppins, sans-serif;
	width: 100%;
	min-height: 100vh;
	background-color: var(--bg-1);
}
* {
	font-family: Poppins, sans-serif;
}
.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}
